body{
  background: #454545;
  line-height: 1.7;

}
a , body{
  color: #eee;
}

a{
  text-decoration: none;
}
.slide-bar{
  padding-top: 50px;
  background: #454545;
  width: 20%;
  float: left;
  position: fixed;
}
.slide-bar > *{
  padding: 10px 10px;
}
.slide-bar .nav a {
  display: block;
  padding: 20px;
  color: #888;
  text-align: center;
}
.slide-bar .nav a:hover{
  color:#eee;
  -webkit-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
.header .logo {
  line-height: 1;
  padding:20px 0px 20px 0px;
  font-size: 30px;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.main{
  float: right;
  width: 80%;
}

.article-list{
  margin-right: 30%;
  background: #fff;
  color: #555;
  padding: 20px 30px;
  -webkit-box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
  box-shadow:0 0 3px 2px rgba(0,0,0,0.2);
}

.article-list .item .status{
  font-size: 13px;
  color:#777;
}
.article-list .item > * {
  margin:10px 0;
}
.article-list .item{
  margin-bottom: 30px;
}
.article-list .item a:hover{
  color:black;
  -webkit-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
